<div class="container-fluid">
	<div class="navbar-header">
	 	<a href="/" class="navbar-brand">Sample App</a>
	 </div>
	 <nav class="collapse navbar-collapse" role="navigation">
	 	<ul class="nav navbar-nav navbar-right">
	 		<li><a href="/#projects">Projects</a></li>

	 	</ul>
	 </nav>
</div>